.team_members_container{ 
    position:relative;
    padding: 80px;
    overflow-x: hidden;
} 

.team_members_container section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;  
    justify-content: center;
}

.team_members_container .common{
    display: flex;
    z-index: 1;
    margin-top: 20px;
    flex-direction: column;  
}

.team_members_container .common span{
    font-size: 2rem;
}

.team_members_container .members{
    display: flex;
    flex-wrap: wrap;
}

.team_members_container .select_batch{
    margin-bottom: 30px;
}

.team_members_container .select_batch button{
    padding: 10px 20px; 
    border: 1px solid black;
    border-right: none;
    font-size: 1rem;
}

.team_members_container .select_batch button:first-child{
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.team_members_container .select_batch button:last-child{ 
    border-right: 1px solid black;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    
}

.team_members_container .select_batch button:hover{
    cursor: pointer;
}

.team_members_container .select_batch .active{
    background: #ff7d7d;
    font-weight: 600;
}

@media screen and (max-width: 400px) {
    .team_members_container{
        padding: 20px;
        padding-top: 100px;
    }
    .team_members_container .members{
        justify-content: center;
        align-items: center;
    }
}