@import '../../global.css';

nav{
    display: flex;
    height: 70px;
    background-color: var(--main_color);
    justify-content: space-between;
}

nav .left{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4%;
}

nav .left a{
    text-decoration: none;
    color: white;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.5rem;
    position: relative;
}

nav .left a::after{
    content: 'SLRTCE';
    position: absolute;
    left: 26px;
    bottom: -6px;
    font-size: .6em;
    font-family: 'Roboto', sans-serif;
}

nav .middle{
    padding-right: 28%;
}

nav  .middle ul{
    display: flex;
    height: 100%;
}

nav .middle ul li{
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    font-size: 1.15rem;
    position: relative;
}

nav .middle ul li:hover{
    font-size: 1.3rem;
    transition: all .5s ease;
}

nav .middle ul .inactive:hover::before{
    content: '';
    position: absolute;
    background-color: rgba(255, 65, 65, 0.842);
    left: 0;
    bottom: 15px;
    border-radius: 10px;
    height: 4px;
    width: 58%;
    margin: 0px 19%;
    animation-name: nav_hover;
    animation-duration: .5s;
}


@keyframes nav_hover {
    0%{
        width: 0%;
        opacity: 0;   
    }
    100%{
        width: 58%;
        opacity: 1;
    }
}

nav .middle .active::before{
    content: '';
    position: absolute;
    background-color: rgba(255, 65, 65, 0.842);
    left: 0;
    bottom: 15px;
    border-radius: 10px;
    height: 4px;
    width: 58%;
    margin: 0px 19%;
}

nav .middle .active{
    font-size: 1.3rem;
}

nav .middle ul li a{
    text-decoration: none;
    width: 100%;
    color: white;
    text-align: center;
    font-family: 'Acme', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
