.team_members_container{
    /* background-color: var(--main_color); */
    background-color: #ffd8d8;
    position:relative;
    padding: 50px;
    overflow-x: hidden;
}

/* .team_members_container::before{
    content: '';
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#f00, #f0f);
    clip-path: circle(16% at right 59%);
} */

/* .team_members_container::after{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #e91e63);
    clip-path: circle(11% at 3% 4%);
} */

.team_members_container section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;  
    justify-content: center;
}

.team_members_container .common{
    display: flex;
    z-index: 1;
    flex-direction: column;  
}

.team_members_container .common span{
    font-size: 2rem;
}

.team_members_container .members{
    display: flex;
    flex-wrap: wrap;
}
